{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block head_title %}
  {% trans "Sign In" %}
{% endblock %}

{% block content %}
<div class="flex flex-col justify-start px-6 py-12 lg:px-8  font-sans">

  <div class="sm:mx-auto sm:w-full sm:max-w-sm bg-white p-8 rounded-lg shadow-lg">
    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
      <p class="text-gray-600 mb-4 text-center text-sm">
        {% blocktrans with site.name as site_name %}
          Please log in with one of your existing third-party accounts. Or,
          <a href="{{ signup_url }}" class="font-semibold text-indigo-600 hover:text-indigo-500">
            sign up
          </a>
          for a {{ site_name }} account and log in below:
        {% endblocktrans %}
      </p>

      <div class="socialaccount_ballot mb-6">
        <ul class="socialaccount_providers flex flex-col space-y-2">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
        <div class="text-center text-gray-500 my-4 text-sm">{% trans 'or' %}</div>
      </div>

      {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
      <p class="text-gray-600 mb-4 text-center text-sm">
        {% blocktrans %}
          If you have not created an account yet, then please
          <a href="{{ signup_url }}" class="font-semibold text-indigo-600 hover:text-indigo-500">sign up</a>
          first.
        {% endblocktrans %}
      </p>
    {% endif %}

    <form class="space-y-6" action="{% url 'core:account_login' %}" method="POST">
      {% csrf_token %}
      {{ form|crispy }}

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          {% trans "Sign In" %}
        </button>
      </div>
    </form>

  </div>
</div>
{% endblock %}
